/* style.css */

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #007acc;
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #555;
}
